<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098058561248-cpng3i0d9lb70gask1lurgdr0orpav5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098058561248-cpng3i0d9lb70gask1lurgdr0orpav5d</string>
	<key>API_KEY</key>
	<string>AIzaSyAL_-q-OsLwRC09PXwWctxffwAJwUhFRQE</string>
	<key>GCM_SENDER_ID</key>
	<string>1098058561248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bds</string>
	<key>PROJECT_ID</key>
	<string>bloodds-4cc4a</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodds-4cc4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098058561248:ios:b736604a930c605dba8285</string>
</dict>
</plist>